<!doctype html>
<html lang="ja" class="no-js">
  <head>
    <title>Thousand Jacket</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <meta name="viewport" content="width=device&#45;width, initial&#45;scale=1, minimum&#45;scale=1, maximum&#45;scale=1"> -->
    <!-- <meta name="viewport" content="target&#45;densitydpi=device&#45;dpi, width=device&#45;width, maximum&#45;scale=1.0, user&#45;scalable=yes"> -->

    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

    <!-- <link rel="stylesheet" href="../assets/reset.css"> <!&#45;&#45; CSS reset &#45;&#45;> -->
    <!-- <link rel="stylesheet" href="../assets/style.css"> <!&#45;&#45; Resource style &#45;&#45;> -->
    <!-- <link rel="stylesheet" href="../assets/colors.css"> <!&#45;&#45; Resource style &#45;&#45;> -->
    <!-- <link rel="stylesheet" href="../assets/header.css"> <!&#45;&#45; Resource style &#45;&#45;> -->

  </head>
  <body>

    <%= render 'layouts/header' %>

    <div id="store_area">

      <div class="bg"><div class="pattern"></div></div>

      <div class="lock">
        <div class="palette-wrapper">
          <ol id="palette" class="palette">
            <li data-key='0' class="color n0"></li>
            <li data-key='1' class="color n1"></li>
            <li data-key='2' class="color n2"></li>
            <li data-key='3' class="color n3"></li>
            <li data-key='4' class="color n4"></li>
            <li data-key='5' class="color n5"></li>
            <li data-key='6' class="color n6"></li>
            <li data-key='7' class="color n7"></li>
            <li data-key='8' class="color n8"></li>
            <li data-key='9' class="color n9"></li>
          </ol>
          <div id="btn_register" class="btn"></div>
        </div>
      </div>

        <ul class="cd-gallery">
          <li>
            <span>
              <ul class="cd-item-wrapper">
                <% @items.each.with_index(0) do |item, index| %>
                  <li class="<%= give_class_to_li(index)%>"
                    <%= give_data_to_li(item) %>>
                    <a href="<%= item.link_url %>">
                      <img src="<%= image_path(item.image_url) %>" alt="Preview image">
                    </a>
                  </li>
                <% end %>
              </ul> <!-- cd-item-wrapper -->
            </span>

          <div class="cd-item-info">
            <!-- <b><a href="#0"></a></b> -->
            <!-- <em class="cd&#45;price">$26</em> -->
          </div> <!-- cd-item-info -->
        </li>
      </ul>

    <!-- <script src="../assets/main.js"></script> <!&#45;&#45; Resource jQuery &#45;&#45;> -->
    <!-- <script src="../assets/modernizr.js"></script> <!&#45;&#45; Resource jQuery &#45;&#45;> -->
    <!-- <script src="../assets/index.js"></script> <!&#45;&#45; Resource jQuery &#45;&#45;> -->
    <!-- <script src="../assets/header.js"></script> <!&#45;&#45; Resource jQuery &#45;&#45;> -->
    <!-- <script src="../assets/prefixfree.min.js"></script> <!&#45;&#45; Resource jQuery &#45;&#45;> -->
  </body>
</html>
